.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;

  &__list {
  }

  &__img {
    width: 7rem;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  &__sold {
  }
}
